@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

::selection {
  background: #7dd3fc;
  color: #030712;
}

::-moz-selection {
  background: #7dd3fc;
  color: #070e20;
}